body {
    background-image: url('../../images/gray_sand.png');
}

h1 {
    font-weight: bold;
   
}

#profile {
    text-decoration:underline;
}

#display-header {
    background-color:lightgray;
    
}


