body {
    background-image: url('../../images/gray_sand.png');
}

h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#profile {
    text-decoration:underline;
}

#player {
    margin-top:215px;
}

#display-name {
    color:whitesmoke;
    border:2px solid black;
    border-radius:30px;
    margin-top:2%;
    margin-left:20%;
    margin-right:20%;
    box-shadow:5px 10px black;
    background-color:rgb(11, 194, 90);
}

#email {
    color:whitesmoke;
    border:2px solid black;
    border-radius:30px;
    margin-top:2%;
    margin-left:20%;
    margin-right:20%;
    box-shadow:5px 10px black;
    background-color:rgb(11, 194, 90);
}

#log-out-button {
    color:whitesmoke;
    background-color:rgb(11, 194, 90);
    display: block;
    margin:0 auto;
    font-size:30px;
    font-weight:bold;
    margin-top:2%;
    border:4px solid grey;
    border-radius:32px;
}

/* #image-div {
    margin-top:10px;
} */

/* img {
    width:50px;
    height:50px;
} */

/* img:hover {
    opacity:.5;
} */

.fixed-bottom {
    border-top:3px solid rgb(11, 194, 90);
    border-bottom:none;
}

a:hover {
    text-decoration: none;
}

#log-out-button:hover {
    background-color:gray;
    border-color:rgb(11, 194, 90);
}


/* Iphone 5 portrait mode  */
@media only screen and (min-width : 320px) and (max-width:568px) and (orientation : portrait) {
    .user-info-h1 {
        font-size: 20px;
    }

    #display-name {
        width:296px;
        margin-top:10%;
        margin-left:4%;
        margin-bottom:5%;

    }

    #email {
        width:296px;
        margin-left:4%;

    }

    #log-out-button {
        font-size:18px;
        margin-top:8%;
        width:100px;
    }

    #player {
        margin-top:164px;
    }
}
/* Iphone 5 portrait mode  */

/* Iphone 5 landscape mode */
@media only screen and (min-width : 320px) and (max-width:568px) and (orientation : landscape) {

    .user-info-h1{
        font-size:20px !important;
    }

    #display-name {  
        box-shadow:2px 4px black;
        width:450px !important;
        margin-left:52px !important;
        margin-top:8px !important;
    }

    #email {
        box-shadow:2px 4px black;
        width:450px !important;
        margin-left:52px !important;
        margin-bottom:10% !important; 
    }

    #log-out-button {
        font-size:12px !important;
        margin-bottom:0%!important;
        width:100px;
    }

    #player {
      margin-bottom:43px;
    }

    .copyright{
        font-size:20px;
    }
}
/* Iphone 5 landscape mode */

/* Iphone 6,7,8 portrait mode */
@media only screen and (min-width: 375px) and (max-width : 667px) and (orientation : portrait ) {

    #display-name {
        margin-left:36px;

    } 

    #email {
        margin-left:36px;
    }

    #player {
        margin-bottom:43px !important;
    }
}

/* Iphone 6,7,8 landscape mode */
@media only screen and (min-width: 375px) and (max-width : 667px) and (orientation : landscape ) {

    #player  {
        margin-top:42px !important;
    }
}

/* Iphone 6/7/8 plus landscape mode */
@media only screen and (min-width:414px) and (max-width:736px) and (orientation : landscape) {

    #display-name {
        margin:auto !important;
        margin-bottom:18px !important;
        margin-top:6px !important;
        width:426px !important;
    }

    .user-info-h1{
        font-size:20px !important;
    }

    #email {
        margin:auto !important;
        margin-bottom:5% !important;
        width:426px !important;
    }

    #log-out-button {
        font-size:14px;
    }

    #player {
        margin-bottom:-60px !important;
    }

    .copyright {
        font-size:20px;
    }
}
/* Iphone 6/7/8 plus landscape mode */

/* Iphone 6/7/8 plus portrait mode */
@media only screen and (min-width:414px) and (max-width:736px) and (orientation : portrait) {

    #display-name {
        margin-left:54px;
    }

    #email {
        margin-left:54px;
    }

    #log-out {
        margin-bottom:0px;
    }

    #player {
        margin-top:200px !important;
    }
}
/* Iphone 6/7/8 plus portrait mode */


/* Iphone X portrait mode */
@media only screen and (min-width: 375px) and (max-width:812px) and (orientation : portrait) {
    
    #player {
        margin-top:396px !important;
    }
}
/* Iphone X portrait mode */

/* Iphone X landscape mode */
@media only screen and (min-width: 375px) and (max-width:812px) and (orientation : landscape) {
    
    .user-info-h1 {
        font-size:30px;
    }

    #display-name {
        width:680px;
        margin-top:10px;
        margin-left:7%;
    }

    #email  {
        width:680px;
        margin-left:7%;
    }

    #log-out-button {
        font-size:15px;
        margin-bottom:1px;
    }

    #player {
        margin-top:23px;
    }
}
/* Iphone X landscape mode */
