body {
    /* background-color: #000000; */
    background-image: url('../../images/spotifyBackgroundImage.png');
    background-attachment: fixed;
    background-size: cover;
}

#login-container {
    margin-top:8%;
    width:500px;
    height:500px;
    background-color:lightgrey;

}

#log-in-button {
    margin-top:20px;
}