.navbar {
    background-color:rgb(70, 81, 95) !important;
    border-bottom:5px solid orangered;
}

.the-aux {
    color:whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:43%;
}

#log-in-button {
    color:whitesmoke;
    display: block;
    margin:0 auto;
    text-transform:uppercase;
    font-size:30px;
    font-weight:bold;
    margin-top:12%;
    border:2px solid orangered;
    border-radius:32px;
  
}